### Real world phenomenon

As we have all heard in the last couple of years we have a serious problem with our outpatient waiting list in the Irish Health Care system. I wanted to look at this data and ascertain where we are 
in relation to waiting lists and specialitites. I was able to dowmload a dataset from data.gov.ie with this information [dataset](https://data.gov.ie/dataset/outpatient-waiting-list/resource/96f88a60-8ea7-4d6a-9c23-8a7c6b740eb0/view/737ac277-c1be-4708-b527-d26f14799008)

In [1]:
# First thing I will do is import the libraries I will need to inspect this dataset.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('OPWAITINGLIST.csv')

In [3]:
df

,ArchiveDate,Adult_Child,Speciality,0-6 Months,6-12 Months,12-18 Months,18+ Months,Total
0,28/10/2021,Adult,Anaesthetics,146,75,172,"1,198","1,591"
1,28/10/2021,Adult,Breast Surgery,"2,856","1,020",447,74,"4,397"
2,28/10/2021,Adult,Cardio-Thoracic Surgery,256,68,15,26,365
3,28/10/2021,Adult,Cardiology,"15,770","7,574","4,391","6,251","33,986"
4,28/10/2021,Adult,Chemical Pathology,76,25,10,8,119
...,...,...,...,...,...,...,...,...
85,28/10/2021,Child,Pain Relief,29,7,4,2,42
86,28/10/2021,Child,Plastic Surgery,911,425,257,620,"2,213"
87,28/10/2021,Child,Rheumatology,223,199,117,795,"1,334"
88,28/10/2021,Child,Small Volume Specialities,48,21,14,17,99
89,28/10/2021,Child,Urology,883,563,358,"1,018","2,822"

In [4]:
df.describe()

,ArchiveDate,Adult_Child,Speciality,0-6 Months,6-12 Months,12-18 Months,18+ Months,Total
count,90,90,90,90,90,90,90,90
unique,1,2,64,85,76,71,72,87
top,28/10/2021,Adult,Small Volume Specialities,31,4,4,2,31
freq,90,46,2,2,5,8,12,2

In [7]:
df.head()

,ArchiveDate,Adult_Child,Speciality,0-6 Months,6-12 Months,12-18 Months,18+ Months,Total
0,28/10/2021,Adult,Anaesthetics,146,75,172,"1,198","1,591"
1,28/10/2021,Adult,Breast Surgery,"2,856","1,020",447,74,"4,397"
2,28/10/2021,Adult,Cardio-Thoracic Surgery,256,68,15,26,365
3,28/10/2021,Adult,Cardiology,"15,770","7,574","4,391","6,251","33,986"
4,28/10/2021,Adult,Chemical Pathology,76,25,10,8,119

In [9]:
df.filter(['Speciality','0-6 Months', '18+ Months']).head()

                Speciality 0-6 Months 18+ Months
0             Anaesthetics        146      1,198
1           Breast Surgery      2,856         74
2  Cardio-Thoracic Surgery        256         26
3               Cardiology     15,770      6,251
4       Chemical Pathology         76          8

In [11]:
df.sort_values(by=['Speciality'])

,ArchiveDate,Adult_Child,Speciality,0-6 Months,6-12 Months,12-18 Months,18+ Months,Total
0,28/10/2021,Adult,Anaesthetics,146,75,172,"1,198","1,591"
46,28/10/2021,Child,Breast Surgery,16,4,4,0,24
1,28/10/2021,Adult,Breast Surgery,"2,856","1,020",447,74,"4,397"
2,28/10/2021,Adult,Cardio-Thoracic Surgery,256,68,15,26,365
47,28/10/2021,Child,Cardio-Thoracic Surgery,73,10,4,2,89
...,...,...,...,...,...,...,...,...
88,28/10/2021,Child,Small Volume Specialities,48,21,14,17,99
43,28/10/2021,Adult,Small Volume Specialities,34,21,11,21,88
44,28/10/2021,Adult,Urology,"10,594","5,753","3,368","11,079","30,794"
89,28/10/2021,Child,Urology,883,563,358,"1,018","2,822"
45,28/10/2021,Adult,Vascular Surgery,"6,562","2,708","2,249","3,728","15,247"

In [20]:
df.nlargest(15,['Total'],keep='all')

TypeError: Column 'Total' has dtype object, cannot use method 'nlargest' with this dtype